body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #FFFFFF;
}

header {
    width: 100%;
    background-color: #101049;
    padding: 20px 0;
    text-align: center;
    font-size: 36px;
}

header div {
    font-size: 12px;
}

header div a {
    text-decoration: none;
    color: inherit;
}

#expressionInput {
    font-size: 15px;
    margin-top: 28px;
    margin-left: 10px;
    padding: 5px; 
}

#expressionInput input {
    background-color: #1a1a1a;
    color: #f0f0f0; 
    border: 2px solid #333; 
    border-radius: 15px; 
    padding: 8px;
    box-sizing: border-box;
    width: 250px;
    outline: none; 
    transition: border-color 0.5s ease;
}

#expressionInput input:focus {
    border-color: #FFA500;
    outline: none;
}

#expressionInput button {
    background-color: #6f42c1;
    border: 0px;
    border-radius: 15px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#expressionInput button:hover {
    background-color: #4e2699;
}

#expressionInput button:active {
    background-color: #3a167e;
    box-shadow: 0 3px #666;
    transform: translateY(3px);
}

#savedExpressions p {
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 56px;
    margin-left: 18px;
}