body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #FFFFFF;
}

header {
    width: 100%;
    background-color: #101049;
    padding: 20px 0;
    text-align: center;
    font-size: 36px;
}

header, footer {
    flex-shrink: 0; /* Prevents the header and footer from shrinking */
}

header div {
    font-size: 12px;
}

header div a {
    text-decoration: none;
    color: inherit;
}

main {
    flex-grow: 1; /* Allows the main content to grow and fill the available space */
    display: flex;
    flex-direction: column;
    background-color: #2D3748;
}

button {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.15);
}

#expressionInput {
    font-size: 15px;
    margin-top: 28px;
    margin-left: 10px;
    padding: 5px;
    background-color: #4A5568;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.15);
    width: 32%;
}

#expressionInput label {
    margin-left: 24px;
}

#expressionInput input {
    background-color: #1a1a1a;
    color: #f0f0f0; 
    border: 2px solid #333; 
    border-radius: 15px; 
    padding: 8px;
    box-sizing: border-box;
    width: 250px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: border-color 0.5s ease;
}

#expressionInput input:focus {
    border-color: #FFA500;
    outline: none;
}

#expressionInput button {
    background-color: #6f42c1;
    border: 0px;
    border-radius: 15px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#expressionInput button:hover {
    background-color: #4e2699;
}

#expressionInput button:active {
    background-color: #3a167e;
    box-shadow: 0 3px #666;
    transform: translateY(3px);
}

#savedExpressions {
    width: 100%;
    height: 72vh;
    margin: 25px 0;
    box-shadow: 0 2px 4px rgba(26, 25, 46, 0.1);
    flex-grow: 1;
    overflow-y: auto;
}

#savedExpressions p:first-child {
    width: 14%;
    top: 2px;
    left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Sans-serif font */
    font-weight: bold; /* Bold weight */
    font-size: 24px; /* Larger font size */
    color: #FFFFFF; /* White color for contrast */
    border: none;
    box-shadow: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Subtle text shadow */
}

/* Style each expression */
#savedExpressions p {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    color: #D3D3D3;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    transition: background-color 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.15); /* Add a shadow effect */
}

#savedExpressions button {
    background-color: #FF4136; /* Red background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Padding around the text */
    margin-left: 10px;
    cursor: pointer; /* Cursor changes to a pointer when hovering */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.5s ease; /* Smooth transition for background color */
}

#savedExpressions button:hover {
    background-color: #FF6347; /* Darker red on hover */
}

#savedExpressions button:active {
    background-color: #FF4136; /* Slightly darker red when clicked */
    box-shadow: 0 3px #666; /* Shadow effect */
    transform: translateY(3px); /* Slight upward movement */
}